<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <form action='create' method='POST'>
      <input type='text' name='name' placeholder="name" required>
      <input type="number" name='price' placeholder="price" required>
      <input type="submit" value="Create Product">
    </form>
  </div>
</div>
</body>
<% include partials/script %>
</html>