<nav class="navbar navbar-dark navbar-expand-md bg-dark mt-auto navigation-clean">
    <div class="container-fluid"><a class="navbar-brand text-white-50" href="#" style="width:334px;font-size:18px;color:rgb(153,156,141);"><i class="icon ion-university" style="width:-48px;color:rgba(255,255,255,0.5);font-size:27px;"></i>Hirdesh Kumar's Student Portal</a>
        <button
            class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a href="/" class="nav-link active" href="#"><strong>Home</strong></a></li>
                    <li class="nav-item" role="presentation"><a href="/features"class="nav-link text-white" href="#"><strong>Features</strong></a></li>
                    <li class="nav-item" role="presentation"><a href="/createform"class="nav-link text-white" href="#"><strong>Add Student</strong></a></li>
                    <li class="nav-item" role="presentation"><a href="/list"class="nav-link text-white" href="#"><strong>Student List</strong></a></li>
                </ul>
            </div>
    </div>
</nav>