<!DOCTYPE html>
<html>
  <head>
    <% include partials/head  %> 
  </head>
  <body>
    <% include partials/menu %>
    <div class="fluid bg-3 text-center">    
    
      <div id="Upper-Container"></div>
    <div class="features-boxed" style="background-color:rgb(153,156,159);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="background-color:#999c9f;color:rgb(255,255,255);">FEATURES</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(52,58,64);"><i class="fa fa-plus icon" style="color:rgb(255,255,255);"></i>
                        <h3 class="name" style="color:rgb(255,255,255);">ADD</h3>
                        <p class="description" style="color:rgb(255,255,255);">Add Students</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 offset-lg-1 item">
                    <div class="box" style="background-color:rgb(52,58,64);"><i class="fa fa-eye icon" style="color:rgb(255,255,255);"></i>
                        <h3 class="name" style="color:rgb(255,255,255);">View</h3>
                        <p class="description" style="color:rgb(255,255,255);">VIew the existing students.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(52,58,64);"><i class="typcn typcn-arrow-sync-outline icon" style="color:rgb(255,255,255);"></i>
                        <h3 class="name" style="color:rgb(255,255,255);">Update</h3>
                        <p class="description" style="color:rgb(255,255,255);">Modify the details of students</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 offset-lg-1 item">
                    <div class="box" style="background-color:rgb(52,58,64);"><i class="fa fa-trash-o icon" style="color:rgb(255,255,255);height:35px;"></i>
                        <h3 class="name" style="color:rgb(255,255,255);">Delete</h3>
                        <p class="description" style="color:rgb(255,255,255);">Delete the students.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="background-color:rgb(44,49,52);">
        <div id="Bottom-Container">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100004635136263"><i class="icon ion-social-facebook"></i></a><a href="https://github.com/HirdeshKumar2407/"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/hirdesh-kumar-3482781a1/"><i class="icon ion-social-linkedin"></i></a>
                            <a
                                href="https://www.instagram.com/hirdeshkumar98/"><i class="icon ion-social-instagram"></i></a>
                        </div>
                    </div>
                    <p class="copyright">Hirdesh Kumar © 2021</p>
                </div>
            </footer>
        </div>
    </div>
    </body>
    <% include partials/script %>
    
  
</html>
