<!DOCTYPE html>
<html>
  <head>
    <% include partials/head  %> 
  </head>
  <body>
    <% include partials/menu %>
     <div id="Upper-Container"><img src="https://abaforlawstudents.com/wp-content/uploads/2013/01/lawstudentsudying.jpg"></div>
    <div class="features-boxed" style="background-color:rgb(44,49,52);">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="background-color:#2c3134;color:rgb(255,255,255);">PROGRAMS&nbsp;</h2>
                <p class="text-center">Fall 2021 stundent registration would be live soon.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(153,156,159);">
                        <h3 class="name" style="color:rgb(255,255,255);">BSCS</h3>
                        <p class="description" style="color:rgb(255,255,255);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(153,156,159);">
                        <h3 class="name" style="color:rgb(255,255,255);">MSCS</h3>
                        <p class="description" style="color:rgb(255,255,255);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="background-color:rgb(153,156,159);">
                        <h3 class="name" style="color:rgb(255,255,255);">PHD Computing</h3>
                        <p class="description" style="color:rgb(255,255,255);">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark" style="background-color:rgb(44,49,52);">
        <div id="Bottom-Container">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col item social"><a href="https://www.facebook.com/profile.php?id=100004635136263"><i class="icon ion-social-facebook"></i></a><a href="https://github.com/HirdeshKumar2407/"><i class="icon ion-social-github"></i></a><a href="https://www.linkedin.com/in/hirdesh-kumar-3482781a1/"><i class="icon ion-social-linkedin"></i></a>
                            <a
                                href="https://www.instagram.com/hirdeshkumar98/"><i class="icon ion-social-instagram"></i></a>
                        </div>
                    </div>
                    <p class="copyright">Hirdesh Kumar © 2021</p>
                </div>
            </footer>
        </div>
    </div>
    </body>
    <% include partials/script %>
    
  
</html>
